<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initialize-scale=1.0"> -->
    <title>Go-Music</title>
    <link href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

</head>

<body>
<div id="app"
     style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <p style="font-size:xx-large; line-height: 1; margin: 0.25em;">迁移网易云歌单</p>
    <p style="font-size:x-large; line-height: 1; margin: 0.25em;">to</p>
    <p style="font-size:xx-large; line-height: 1; margin: 0.25em;">Apple Music、Youtube Music、Spotify</p>


    <el-input v-model="link" placeholder="请输入网易云歌单链接~" style="width: 25%;margin: 0.5em;"></el-input>
    <br>
    <el-button type="primary" @click="fetchLinkDetails">获取歌单</el-button>
    <br>
    <el-input type="textarea" v-model="result" :rows="15" placeholder="结果会显示在这里" style="width: 32%;"></el-input>
    <br>
    <el-button @click="copyResult">复制结果</el-button>

    <!-- 使用指南 -->
    <div style="border: 1px solid #ddd; padding: 1em; margin: 1em; width: 50%; background-color: #f5f5f5;line-height: 1.5em">
        <h3># 使用指南</h3>
        <ol>
            <li>输入网易云歌单链接，例如：<em>https://music.163.com/#/playlist?id=8725919816</em></li>
            <li>转移到 Apple Music 或 Spotify 或 Youtube Music</li>
            <ul>
                <li>Go to
                    <el-button type="success" size="mini">
                        <a href="https://www.tunemymusic.com/zh-CN/transfer"
                           style="color: #fff;font-size: small">TunemyMusic</a></el-button>
                </li>
                <li>STEP 1：选择来源从「任意文本」</li>
                <li>STEP 2：粘贴刚刚复制的内容到文本框中</li>
                <li>STEP 3：选择 Apple Music 或 Spotify 或 Youtube Music 作为目的地</li>
                <li>STEP 4：开始移动</li>
            </ul>
        </ol>
    </div>
    <div style="bottom: 10px; width: 100%; text-align: center;">

        <a href="https://github.com/Bistutu/GoMusic" target="_blank" style="text-decoration: none; color: black;">
            项目已开源
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo"
                 style="height: 1em;">
            View on GitHub
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            link: '',
            result: ''
        },
        methods: {
            async fetchLinkDetails() {

                // 清空前后空白字符，并进行正则表达式匹配
                this.link = this.link.trim();
                console.log("visit: " + this.link)
                const regex = /(163)|(qq)/;
                if (!regex.test(this.link)) {
                    this.result = '链接解析失败，请确认是否为正确格式！';
                    return;  // 直接返回，不再继续执行以下代码
                }

                const params = new URLSearchParams();
                params.append('url', this.link);

                try {
                    // const response = await axios.post('https://music.unmeta.cn/neteasy', params, {
                    const response = await axios.post('http://localhost:8081/songlist', params, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    });
                    if (response.data) {
                        this.result = response.data.data.songs.join('\n');
                    } else {
                        this.result = '请求失败，请稍后再试~';
                    }
                } catch (error) {
                    console.log(error);
                    this.result = '链接解析失败，请确认是否为正确格式！'
                }
            },
            copyResult() {
                const textarea = document.createElement('textarea');
                textarea.value = this.result;
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand('copy');
                document.body.removeChild(textarea);
                this.$message.success('已复制到剪贴板');
            }
        }
    });
</script>
</body>

</html>