<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialize-scale=1.0">
    <title>Go-Music</title>
    <link href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css" rel="stylesheet">
    <link href="./main231208.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
</head>


<body>
<el-container id="app">
    <div class="header-layout">
        <el-button @click="toggleLanguage">{{ isEnglish ? '中文' : 'English' }}</el-button>
    </div>
    <el-header>迁移网易云/QQ音乐歌单<br>至 Apple/Youtube/Spotify Music</el-header>
    <div class="github-badge-container">
        <a href="https://github.com/Bistutu/GoMusic" target="_blank">
            <img src="https://img.shields.io/github/stars/Bistutu/GoMusic?style=flat-square&logo=github&label=Star"
                 alt="GitHub stars">
        </a>
    </div>

    <el-main>
        <el-form>
            <el-form-item>
                <el-input v-model="link"
                          placeholder="输入任意歌单链接，如：http://163cn.tv/zoIxm3"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="danger" class="button-center lang-song-list-btn" @click="fetchLinkDetails">获取歌单
                </el-button>
                </el-button>

            </el-form-item>
            <el-form-item>
                <el-input type="textarea" v-model="result" :rows="15" placeholder="结果会显示在这里"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="copyResult" class="button-center lang-copy-btn">复制结果</el-button>
            </el-form-item>
        </el-form>
        <el-collapse v-model="activeNames">
            <el-collapse-item title="《使用指南》" name="first">
                <ol>
                    <li>输入歌单链接，如：http://163cn.tv/zoIxm3</li>
                    <li>复制查询结果</li>
                    <li>打开 <b><a href="https://www.tunemymusic.com/zh-CN/transfer">TunemyMusic</a></b>
                        网站</el-button></li>
                    <li>选择歌单来源“任意文本”，将刚刚复制的歌单粘贴进去，选择 Apple/Youtube/Spotify Music
                        作为目的地，确认迁移
                    </li>
                </ol>
            </el-collapse-item>
        </el-collapse>
    </el-main>
</el-container>

<script src="main231208.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
</body>

</html>