/* github tag*/
.github-badge-container {
    text-align: center; /* 水平居中 */
    margin-top: 5px; /* 添加一些上下边距 */
}

/* overall */
.el-header {
    font-size: xx-large;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1em;
}

.header-layout {
    text-align: right;
    margin-right: 1em;
}

.button-center {
    margin: 0 auto;
    display: block; /* 按钮水平居中 */
}

.el-input, .el-textarea {
    width: 50%;
    margin: 0 auto;
    display: block; /* 输入框水平居中 */
}

.el-collapse-item__header {
    font-size: large;
}

.el-collapse {
    width: 50%; /* 默认占据50%的屏幕宽度 */
    margin: 0 auto; /* 水平居中显示 */
}

.el-collapse-item ol li {
    font-size: medium; /* 或者你可以使用具体的像素大小，例如 '16px' */
}


/* 媒体查询，当屏幕宽度小于或等于600px时 */
@media (max-width: 600px) {
    .el-header, .el-footer {
        font-size: large;
        text-align: center;
        margin-top: 10px;
    }

    .el-collapse {
        width: 100%; /* 在手机端时占据90%的屏幕宽度 */
    }

    .el-input, .el-textarea {
        width: 100%;
        margin: 0 auto;
        display: block; /* 输入框水平居中 */
    }
}